extends ../layout

block content
    link(href='/public/css/goods/list.css',rel='styleSheet')
    include ../includes/header
    section
        p 欢迎来到商品列表

    include ../includes/footer
    script(src="/public/js/goods/list.js",type="text/javascript",charset="UTF-8")
